#container_top {
    /* flex container */
    display: flex;
    flex-direction: column;
    height: 530px;
    background-color: #1F2937;
}

#container_top_middle {
    /* flex container */
    display: flex;
    flex-direction: column;
    /* make items centered */
    align-items: center;
    height: 500px;
}

#container_bottom_middle {
    /* flex container */
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 430px;
}

#container_bottom {
    /* flex container */
    display: flex;
    flex-direction: column;
    height: 350px;
}

#footer {
    height: 100px;
    background-color: #1F2937;
}

.container_horizontal {
    /* divs inside will be in a row */
    display: flex;
    flex-direction: row;
    height: 240px;
    width: 60%;
}

.container_horizontal > div {
    display: flex;
    flex-direction: column;
}

.container_horizontal > div > img{
    height: 75%;
    border-radius: 20px;
    border: 5px solid blue;
    margin-left: auto;
    margin-right: auto;
}

.container_horizontal > div > p{
   height: 25%;
    /* make text centered */
    text-align: center;
    font-size: 18px;
    color: #1F2937;

}

.quote {
    /* light italics font */
    font-style: italic;
}